name: Run Tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    name: Run Tests
    env:
        TESTING: true

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Setup out python library
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
            python-version: '3.12'

      - name: Setup Python Virtual Environment
        run: python -m venv .venv

      # Pending step: install requirements.txt in venv

      - name: Run Tests
        run: sudo sh ./scripts/test.sh

